
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Portal that manages the way hospital administration activities are managed. Gone are the days to wait in a queue or being dependent on hospital staff</h3>


